// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-row {
  border-bottom: 1px solid black;
  padding: 15px;
}

.item-table {
  clear: both;
}