@import 'bootstrap';
@import 'bootstrap-modal';
// @import 'bootstrap_united_theme';
// @import 'bootstrap_darkly_theme';
// @import 'bootstrap_flatly_theme';
@import 'bootstrap_cerulean_theme';
@import 'events';
@import 'items';
@import 'alerts';

.navbar-brand-image {
  height: 25px;
}

.navbar {
  border-radius: 0;
  border: none;
}

.modal-backdrop, .modal-backdrop.fade.in {
  background: $modal-backdrop-bg;
}
